.notification {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--background-color);
  padding: 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.message {
  margin-bottom: 5px;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}
