<div class="cards-showcase-container">
  <p>As seguintes carts foram adquiridas</p>
  <ul>
    <li *ngFor="let card of fommatedCardsList">
      <div class="card-content">
        <figure class="card-image">
          <img [src]="card.imageUrl" />
        </figure>
        <div class="card-text">
          <h3>{{ card.name }}</h3>
          <div class="mana-cost">
            <span>{{ card.manaCost.qtd }}</span>
            <img
              class="img-icon"
              *ngFor="let symbol of card.manaCost.mana"
              [src]="symbol | manaSymbolToIcon"
              [alt]="symbol"
            />
          </div>
          <p [innerHTML]="card.text | manaSymbolToIconInText"></p>
        </div>
        <figure class="card-id-color">
          <img
            class="img-icon"
            *ngFor="let color of card.colorIdentity"
            [src]="color | manaSymbolToIcon"
            [alt]="color"
          />
        </figure>
      </div>
    </li>
  </ul>
</div>
