.booster-search-container {
  margin-top: 20px;
  width: 100%;

  p {
    text-align: center;
    animation: appear 4s forwards;
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    margin-top: 80px;
    flex-wrap: wrap;
    animation: appear 6s forwards;
  }

  button:disabled {
    color: var(--color-disabled);
    border-color: var(--color-disabled) !important;
    cursor: not-allowed;
  }
}
