<div *ngIf="boostersList.length > 0" class="booster-showcase-container">
  <p>Selecione o booster que deseja abrir</p>
  <ul>
    <li *ngFor="let booster of boostersList">
      <div class="booster-content" (click)="openBoosters(booster.code)">
        <h3>{{ booster.name }}</h3>
        <span>{{ booster.block }}</span>
        <div class="date-container">
          <span>{{ booster.releaseDate }}</span>
        </div>
      </div>
    </li>
  </ul>
  <button (click)="backToBoosterSearch()">Voltar</button>
</div>

<app-error-screen
  *ngIf="boostersList.length === 0"
  [currentComponent]="'boosters'"
></app-error-screen>
