.booster-showcase-container {
  width: 100%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  p {
    text-align: center;
    animation: appear 4s forwards;
  }

  .content-block {
    padding: 20px;
    border: 4px solid var(--border-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    animation: appear 6s forwards;
    width: 80%;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
      justify-content: center;

      li {
        border: 2px solid var(--border-color);
        border-radius: 8px;
        padding: 5px;
        width: 200px;
        height: 150px;
        position: relative;
        animation: appear 8s fowards;

        h3 {
          font-size: 14px;
        }

        span {
          font-size: 10px;
        }

        .date-container {
          padding: 5px;
          border: 2px solid var(--border-color);
          border-radius: 8px;
          width: fit-content;
          height: fit-content;
          position: absolute;
          bottom: 5px;
          right: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  button {
    animation-name: appear; /* Nome da animação */
    animation-duration: 10s; /* Duração da animação */
    animation-fill-mode: forwards;
  }
}
