@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  vertical-align: baseline;
  max-width: 100%;
}

:root {
  // textos

  --text-color: #ffffff;
  --text-light-color: #cccccc;

  // disabled

  --color-disabled: #4c4c4c; /* Cinza claro */

  // fundos e superfícies

  --background-color: #121212; /* Cinza escuro */
  --surface-color: #444444;

  // bordas

  --border-color: #666666;
  --border-hover: #cca30034;
  --border-radius: 8px;

  // avisos

  --success-color: #8bc34a;
  --warning-color: #ff9800;
  --error-color: #f44336;
}

body {
  font-family: "Cinzel Decorative", serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-family: "Cinzel Decorative", serif;
}

ul,
ol {
  list-style: none;
}

input,
select,
button {
  font-family: inherit;
  font-size: inherit;
  border: solid 2px;
  background-color: transparent;
  color: var(--text-color);
  border-radius: var(--border-radius);
  padding: 5px;
}

option {
  background-color: var(--background-color);
  padding: 5px;
}

button:enabled,
select,
li {
  cursor: pointer;
}

li:hover,
button:hover,
input:focus,
select:focus {
  border-color: var(--border-hover) !important;
  transition: 500ms;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.img-icon {
  width: 10px;
  padding: 1px;
}
